 /*  LIMPAR FORMATAÇÕES*/
 * {
   margin: 0;
   padding: 0;
 }

 body {
   margin: 10px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   background-color: rgba(185, 191, 152, 0.267);
 }
 

 header  img {
  width: 1500px;
  height: 300px;
   min-width: 200px;
   max-width: 1500px;
   width: 100%;
 }

 header h1 .white {
   color: white;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif;
 }
 .sublogo{
  text-align: center;
  margin: 25px;
 }


 nav button {
   width: 370px;
   height: 60px;
   background: rgb(141, 125, 86);
   /* margin: 12px; */
   /* margin-left: 20px; */
  
 }

 nav button:hover {
   background-color: white;
 }

 nav {
   display: flex;
   justify-content: center;
   /* centraliza os botões */
   gap: 0;
   /* espaço entre eles */
 }

 nav button a {
   text-decoration: none;
 }

 nav a:link,
 a:visited {
   color: black;
   font-size: 15px;
   font-family: 'Times New Roman', Times, serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif;
 }

 main {
   display: flex;
   /* Coloca os elementos lado a lado */
   justify-content: space-around;
   /* Espaço entre eles */
   align-items: flex-start;
   /* Alinha pelo topo */
   max-width: 1200px;
   margin: auto;
   gap: 0;

 }

 main section img {
   height: 412px;
   width: 500px;


 }

 .conteudo {
   margin: 10px;
   text-align: center;
 }

 aside {
   background: #ffff;
   padding-left: 10px;
   margin: 10px;
 }

 .perfil {
   height: 412px;
   width: 500px;
 }

 aside p {
   text-indent: 10px;
   font-size: 15px;
 }

 aside h2 {
   text-align: center;
 }

 footer {
   width: 890px;
   clear: both;
   text-align: center;
   padding: 15px;
   background: rgb(45, 234, 130);
   margin-left: 4px;
 }

 /* Responsividade para telas menores */
 @media (max-width: 768px) {
   main {
     flex-direction: column;
     /* empilha os elementos */
     align-items: center;
     /* centraliza */
   }

   section.conteudo img {
     width: 90%;
     /* ajusta a largura da imagem */
     height: auto;
   }

   aside.perfil {
     margin-top: 20px;
     width: 90%;
   }

   footer {
     width: 100%;
     margin-left: 0;
   }
 }